@import "./../../sass/variables.scss";

.hero-section {
  background: url(../../assets/home-hero.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
  padding-left: 5rem;
  padding-right: 3rem;
  font-family: "Inter", sans-serif !important;
  &__text {
    color: $text-hero-white;
    p {
      font-size: 1.6rem;
      &:first-child {
        text-transform: uppercase;
      }
    }
    h2 {
      font-size: 6rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  &__call-to-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .button {
      cursor: pointer;
      font-size: 2rem;
      border-radius: 1rem;
      border: none;
      transition: all 0.5s;
      font-weight: 500;
      font-family: "Inter", sans-serif !important;
      a {
        padding: 1.5rem 2.5rem;
        text-decoration: none;
        color: $background-white;
      }
      &:hover {
        transform: translateY(-0.2rem);
      }
      &:active {
        transform: translateY(0.4rem);
      }
      &:first-child {
        background-color: $main-text-color;
        color: $background-white;
        outline: 1px solid $background-white;
        &:hover {
          background-color: $background-white;
          a {
            color: $main-text-color;
          }
        }
      }
      &:last-child {
        background-color: $secondary-color;
        color: $background-white;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .hero-section {
    min-height: 90vh;
    padding-top: 4rem;
    &__text {
      h2 {
        font-size: 5rem;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .hero-section {
    min-height: 70vh;
    padding-top: 15rem;
    padding-bottom: 10rem;
    &__text {
      h2 {
        font-size: 5rem;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .hero-section {
    padding-top: 15rem;
    padding-bottom: 15rem;
    &__text {
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: $normal-font-size-mobile;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
    &__call-to-actions {
      .button {
        font-size: $medium-font-size-mobile;
      }
    }
  }
}
