@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";

.loginpage {
  @include css-space-for-all-page-desktop-mixin;
}
.login,
.login__field {
  display: flex;
  flex-direction: column;
}

.login__field label {
  @include normal-text-mixin;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

.login {
  @include css-form-base-for-register-login-mixin;
  &__text-header {
    margin-bottom: 2rem;
    &--text-lg {
      @include header-section-text-mixin;
    }
    &--text-normal {
      @include normal-text-mixin;
    }
  }

  &__field {
    position: relative;
    margin-bottom: 3rem;
    input {
      @include input-fillter-space-mixin;
      &.invalid {
        outline: 2px solid red;
        background-color: rgba(255, 99, 71, 0.2);
      }
    }
    .error-msg-form {
      position: absolute;
      bottom: -2rem;
      font-size: 1.2rem;
      left: 0;
      color: red;
    }
  }
  &__text-or {
    text-align: center;
    margin-top: 2rem;
  }

  &__signin-button,
  &__google-button {
    padding: 1.5rem 3rem;
    text-align: center;
    cursor: pointer;
    @include button-animation-onclick-mixin;
    @include normal-text-mixin;
    border-radius: 1rem;
    font-weight: 600;
    width: 100%;
  }
  &__signin-button {
    background-color: $secondary-color;
  }
  &__google-button {
    margin-top: 2rem;
    background-color: $background-white;
    width: 100%;
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .google-icon {
      position: absolute;
      left: 2rem;
    }
  }
  .error-server {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #f8d7da;
    color: #58151c;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 1rem;
    border: 0.08rem solid rgb(241, 174, 181);
  }
}

@media (max-width: $desktop-width) {
  .loginpage {
    padding: $padding-size-x-axis-section-page-for-desktop;
    padding-top: 12rem;
  }
}
@media (max-width: $tablet-width) {
  .loginpage {
    padding: 12rem 2rem;
  }
}
@media (max-width: 376px) {
  .loginpage {
    padding: 12rem 2rem;
    padding-bottom: 5rem;
    .login {
      padding: 2rem;
      &__text-header {
        margin-bottom: 1rem;
        h3 {
          font-size: 2rem;
        }
      }
      &__field {
        label {
          margin-top: 0;
        }
      }
      &__text-or {
        margin-top: 1rem;
      }
      &__google-button {
        margin-top: 1rem;
      }
    }
  }
}
