@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";

.loginpage {
  @include css-space-for-all-page-desktop-mixin;
}
.login,
.login__field {
  display: flex;
  flex-direction: column;
}

.login__field label {
  @include normal-text-mixin;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 600;
}

.login {
  @include css-form-base-for-register-login-mixin;
  &__text-header {
    &--text-lg {
      @include header-section-text-mixin;
    }
    &--text-normal {
      @include normal-text-mixin;
    }
  }

  &__field {
    input {
      @include input-fillter-space-mixin;
    }
  }
  &__text-or {
    text-align: center;
    margin-top: 2rem;
  }

  &__signin-button,
  &__google-button {
    padding: 1.5rem 3rem;
    text-align: center;
    cursor: pointer;
    @include button-animation-onclick-mixin;
    @include normal-text-mixin;
    border-radius: 1rem;
    font-weight: 600;
    width: 100%;
    margin-top: 2rem;
  }
  &__signin-button {
    background-color: $secondary-color;
  }
  &__google-button {
    background-color: $background-white;
    width: 100%;
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .google-icon {
      position: absolute;
      left: 2rem;
    }
  }
}
