@import "./../sass/variables.scss";

@mixin normal-text-mixin {
  font-size: $normal-font-size;
  color: $main-text-color;
  line-height: 1.8rem;
}

@mixin header-section-text-mixin {
  font-size: $header-section-font-size;
  color: $main-text-color;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

@mixin title-section-mixin {
  @include header-section-text-mixin;
  margin-bottom: 1rem;
  span {
    color: $secondary-color;
  }
}

@mixin padding-section-mixin-desktop {
  padding: 8rem 15rem;
}

@mixin input-fillter-space-mixin {
  padding: 1.5rem 3rem;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 1.2rem;
  &:active,
  &:focus {
    outline: 2px solid black;
  }
}

@mixin li-option-fillter-space-mixin {
  padding: 1.5rem 3rem;
  outline: none;
  border: none;

  &:hover {
    background-color: rgba($color: $secondary-color, $alpha: 0.5);
  }
}

@mixin button-animation-onclick-mixin {
  transition: all 0.5s;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(3px);
  }
}

@mixin css-space-for-all-page-desktop-mixin {
  padding: 15rem;
  padding-top: 12rem;
  min-height: 100vh;
  background-color: $secondary-background-color;
}

@mixin css-form-base-for-register-login-mixin {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 3rem;
  width: 50rem;
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: $background-white;
}
