$main-text-color: #181a20;
$background-white: #fff;
$secondary-background-color: #f7f7f7;
$text-hero-white: #fff;
$secondary-color: #eb6753;

$normal-font-size: 1.4rem;
$header-section-font-size: 3rem;
$service-secondary-font-size: 2.5rem;

$item-name-font-size: 1.5rem;

$footer-background-color: #181a20;

$text-footer-white: #fff;
