@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";

.registerpage {
  padding: 3rem;
  padding-top: 12rem;
  min-height: 100vh;
}
.register,
.register__field {
  display: flex;
  flex-direction: column;
}

.register__field label {
  @include normal-text-mixin;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 600;
}

.register {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 3rem;
  width: 50rem;
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  &__text-header {
    &--text-lg {
      @include header-section-text-mixin;
    }
    &--text-normal {
      @include normal-text-mixin;
    }
  }

  &__field {
    input {
      @include input-fillter-space-mixin;
    }
  }
  &__text-or {
    text-align: center;
    margin-top: 2rem;
  }

  &__register-button,
  &__google-button {
    width: 100%;
    padding: 1.5rem 3rem;
    text-align: center;
    cursor: pointer;
    @include button-animation-onclick-mixin;
    @include normal-text-mixin;
    border-radius: 1rem;
    font-weight: 600;
    margin-top: 2rem;
  }
  &__register-button {
    background-color: $secondary-color;
  }
  &__google-button {
    background-color: $background-white;

    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .google-icon {
      position: absolute;
      left: 2rem;
    }
  }
}
