@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";

.registerpage {
  @include css-space-for-all-page-desktop-mixin;
  padding-top: 12rem;
}
.register,
.register__field {
  display: flex;
  flex-direction: column;
}

.register__field label {
  @include normal-text-mixin;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 600;
}

.register {
  @include css-form-base-for-register-login-mixin;
  &__text-header {
    &--text-lg {
      @include header-section-text-mixin;
    }
    &--text-normal {
      @include normal-text-mixin;
    }
  }

  &__field {
    input {
      @include input-fillter-space-mixin;
    }
  }
  &__text-or {
    text-align: center;
    margin-top: 2rem;
  }

  &__register-button,
  &__google-button {
    width: 100%;
    padding: 1.5rem 3rem;
    text-align: center;
    cursor: pointer;
    @include button-animation-onclick-mixin;
    @include normal-text-mixin;
    border-radius: 1rem;
    font-weight: 600;
    margin-top: 2rem;
  }
  &__register-button {
    background-color: $secondary-color;
  }
  &__google-button {
    background-color: $background-white;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    .google-icon {
      position: absolute;
      left: 2rem;
    }
  }
}
