@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";

.wishlist-page {
  @include css-space-for-all-page-desktop-mixin;
  padding-left: 6rem;
  padding-right: 6rem;

  &__header-text {
    font-size: 3rem;
    margin-bottom: 2rem;
    span {
      color: $secondary-color;
    }
  }
  &__clear-button {
    font-size: $normal-font-size;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 3rem;
  }

  &__wishlist-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    min-height: 50vh;
    grid-auto-rows: max-content;
  }
}

@media (max-width: $desktop-width) {
  .wishlist-page {
    padding: $padding-size-x-axis-section-page-for-desktop;
    padding-top: 12rem;
    &__wishlist-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}

@media (max-width: $tablet-width) {
  .wishlist-page {
    padding: $padding-size-x-axis-section-page-for-tablet;
    padding-top: 12rem;
  }
}

@media (max-width: $mobile-width) {
  .wishlist-page {
    padding-top: 12rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
