@import "../index.scss";
.property-description {
  @include apartment-detail-base-style-section-mixin;
  &__title {
    @include title-medium-section-mixin;
    margin-bottom: 2rem;
  }
  &__des-text {
    font-size: $normal-font-size;
    line-height: 2rem;
  }

  .property-description-container:not(:first-child) {
    margin-top: 4rem;
  }
  .property-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__item {
      @include normal-text-mixin;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      max-width: 100%;
      margin-bottom: 1rem;
      label {
        min-width: 15rem;
        font-weight: 600;
      }
    }
  }
}
.address-section {
  margin-top: 3rem;
  &__title {
    @include title-medium-section-mixin;
  }

  &__info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  &__text-details {
    font-size: $normal-font-size;
    .item {
      display: grid;
      grid-template-columns: 1fr 4fr;
      margin-bottom: 1.5rem;
      label {
        font-weight: 600;
      }
    }
  }
}
.features-amenities {
  margin-top: 3rem;

  &__title {
    @include title-medium-section-mixin;
  }
  &__items-container {
    font-size: $normal-font-size;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem;
  }
}
