@import "../../index.scss";

.comment-form {
  margin-top: 3rem;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  &__form {
    font-size: $normal-font-size;

    .stars-rating {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      font-size: 2rem;
      gap: 2rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    .post-btn {
      @include button-animation-onclick-mixin;
      font-size: 1.8rem;
      padding: 1.2rem 3rem;
      background-color: rgb(65, 63, 63);
      color: white;
      font-weight: 550;
      border-radius: 1rem;
      margin-top: 2rem;
    }
  }
}
