@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.detailed-rental-app {
  @include css-space-for-all-page-desktop-mixin;

  &__title {
    @include title-section-mixin;
    font-size: 2.4rem;
  }
}

@media (max-width: $desktop-width) {
  .detailed-rental-app {
    padding: 12rem 5rem;
  }
}
@media (max-width: 320px) {
  .detailed-rental-app {
    padding: 12rem 2rem;
  }
}
