@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";
.features-list {
  background-color: $secondary-background-color;
  @include padding-section-mixin-desktop;
  &__title-section {
    @include title-section-mixin;
  }
  &__small-quote {
    @include normal-text-mixin;
    margin-bottom: 6rem;
  }
  &__feature-item-container {
    padding: 1rem 0;
  }
}

@media (max-width: $desktop-width) {
  .features-list {
    padding: $padding-size-x-axis-section-page-for-desktop;
  }
}
@media (max-width: $tablet-width) {
  .features-list {
    padding: $padding-size-x-axis-section-page-for-mobile;
  }
}
@media (max-width: $mobile-width) {
  .features-list {
    padding: $padding-size-x-axis-section-page-for-mobile;
    &__title-section {
      @include title-section-mobile-mixin;
    }
  }
}
