@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";
.my-rental-app {
  @include css-space-for-all-page-desktop-mixin;
  min-height: 100vh;
  &__title {
    @include title-section-mixin;
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-size: 3rem;
  }
}

@media (max-width: $desktop-width) {
  .my-rental-app {
    padding: $padding-size-x-axis-section-page-for-desktop;
    padding-top: 12rem;
  }
}
@media (max-width: $mobile-width) {
  .my-rental-app {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 12rem;
  }
}
