@import "./../../../sass/variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin-top: 5rem;
  li {
    cursor: pointer;
    padding: 1.2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size: $normal-font-size;
    &.active {
      background-color: $secondary-color;
    }
  }
}
