@import "./../../sass/variables.scss";
@import "./../../sass/mixins.scss";
.testimonial {
  background-color: #fef7f6;
  @include padding-section-mixin-desktop;
  &__title-section {
    @include title-section-mixin;
  }

  &__small-quote {
    @include normal-text-mixin;
    margin-bottom: 6rem;
  }

  &__testimonials-container {
    padding: 1rem 0;
  }
}
