@import "./../../sass/mixins.scss";
@import "./../../sass/variables.scss";

.service-section {
  padding-top: 6rem;
  padding-bottom: 4rem;
  &__header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    .header-section-title {
      @include header-section-text-mixin;
      span {
        color: $secondary-color;
      }
      margin-bottom: 1.5rem;
    }
    .normal-text {
      @include normal-text-mixin;
    }
  }

  &__services-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 6rem;
  }
}

@media screen and (max-width: $mobile-width) {
  .service-section {
    padding: $padding-size-x-axis-section-page-for-mobile;
    &__header-box {
      .header-section-title {
        @include header-section-text-mobile-mixin;
      }
      .normal-text {
        @include normal-text-mobile-mixin;
      }
    }
  }
}
